/* Home */
/* Navigation Bar */
.navbar {
  background: rgba(0, 0, 0, 0);
  border-bottom: solid 1px black;
}

/* Header */
body {
  text-align: center;
  background-color: white;
  }

form {
  max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

  .input-element {
    padding: 5px;
    border: none;
    border-radius: 5px;
  
  }
  
  .input-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  select {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="checkbox"] {
    width: 30px;
    height: 15px;
  }
  
  h1 {
    color: black;
  }

  /* Title */
  #title {
    display: flex;
    justify-content: center;
  }