body {
    background-color: lightblue;
    text-align: center;
  }
  
  form {
    max-width:500px;
    text-align: left;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }
  .input-element {
    padding: 5px;
    border: none;
    border-radius: 5px;
  
  }
  
  .input-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  select {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="checkbox"] {
    width: 30px;
    height: 15px;
  }
  
  h1 {
    color: white;
  }